body{
     
    background-image: url(./img/download.jpeg);
    background-size: cover;
    background-position: center;
       
}
.div{
    background-color: rgb(255,255,2555,0.2);
    color: rgb(255,255,255);
    padding:50px 30px 40px 20px ;
    border-radius: 15px;
    border: none;
    margin-top: 400px;
    text-align: center;
}
.out{
    color: black;
    font-weight:bold;
}
button{
    border:none;
    padding: 5px 30px 5px 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(64, 179, 173,0.5);

}


h3{
    text-decoration: underline;
     color:black;
}
